* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

body {
  background-image: url(./assets/wallpaper.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokedex {
  background-image: url(./assets/pokedex.png);
  background-size: auto;
  background-position: center;
  width: 33rem;
  height: 53rem;
  border-radius: 5%;
  border: 0.5rem solid transparent;
  position: relative;





}


.pokedex-animation {
  animation: fallBounceSpin 1.5s ease-in-out forwards;
  transform-origin: center;
}

@keyframes fallBounceSpin {
  0% {
    transform: translateY(-500px) rotate(0deg) scale(15);

  }

  80% {
    transform: translateY(0px) rotate(2160deg) scale(1);

  }

  85% {
    transform: translateY(-50px) rotate(2160deg) scale(1.05);
  }

  90% {
    transform: translateY(0px) rotate(2160deg) scale(0.98);
  }

  98% {
    transform: translateY(-20px) rotate(2160deg) scale(1.02);
  }

  100% {
    transform: translateY(0px) rotate(2160deg) scale(1);
  }
}

header {
  border: 10px solid transparent;
  width: 32rem;
  height: 9rem;
  position: relative;
}

#pokedex-light {
  width: 6rem;
  height: 6rem;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  border: .5rem solid white;
  position: absolute;
  left: 2.6rem;
  top: 0.9rem;

  border-radius: 50%;
  transition: background-color 0.1s;
}

#reflexo {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#telaOff {
  width: 21.58rem;
  height: 21.58rem;
  background-color: rgba(43, 43, 43, 0.95);
  position: absolute;
  left: 6rem;
  top: 12rem;
  transition: opacity 1.5s ease-in-out;
  visibility: visible;
  z-index: 0;

}

#tela {
  width: 21.58rem;
  height: 21.58rem;
  position: absolute;
  left: 6rem;
  top: 12rem;
  background-image: url(./assets/fundo.jpg);
  background-size: cover;
  background-position: left;
  transition: background-position 4s ease-in-out, opacity 0.5s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}


#start {
  width: 2560px;
  height: 1440px;
  position: absolute;
  font-size: x-large;
  background-color: #272525;
  background-size: cover;
  font-family: "Press Start 2P", system-ui;
  ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;



  z-index: 10;
}

#startImage {
  background-image: url(./assets/startImage.png);
  background-size: cover;
  background-position: center;
  width: 10%;
  height: 18%;
}

#start h1 {
  color: #ffffff;
  font-size: 2rem;
  margin-bottom: 4rem;
}

#startButton {
  cursor: pointer;
  margin-bottom: 1rem;
}

#startButton:hover {
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 1rem;
}



#instructions {
  cursor: pointer;
  margin-bottom: 1rem;
}

#instructions:hover {
  cursor: pointer;
  color: #ffffff;
  margin-bottom: 1rem;
}


#easter {
  width: 21.58rem;
  height: 21.58rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  background-image: url();
  background-size: cover;
  background-position: center;

  display: none;
  pointer-events: none;
  z-index: 8;
}

#tela.on {
  background-position: center;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}

#mask {
  width: 21.58rem;
  height: 21.58rem;
  background-color: rgba(1, 1, 1, 0.249);
  position: absolute;
  left: 6rem;
  top: 12rem;
  z-index: 2;
}

#select {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 100%;
  background-color: grey;
  position: absolute;
  bottom: 9rem;
  left: 4.1rem;
  cursor: pointer;
}



#select:active {
  transform: translateY(4px);

}

#on {
  width: 5rem;
  height: 1rem;
  background-color: rgb(5, 186, 147);
  position: absolute;
  bottom: 10.2rem;
  left: 15.1rem;
  cursor: pointer;
  border-radius: 1rem;

}

#off {
  width: 5rem;
  height: 1rem;
  background-color: rgb(255, 0, 0);
  position: absolute;
  bottom: 10.2rem;
  left: 8.8rem;
  cursor: pointer;
  border-radius: 1rem;
  visibility: visible;

}

#on:active {
  transform: translateY(2px);

}

#off:active {
  transform: translateY(2px);

}


#toggleMusic {
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  border: 0.2rem solid black;
  position: absolute;
  top: 1rem;
  left: 14.2rem;
  cursor: pointer;
  transition: ease-in-out .5s;
}

#toggleTalk {
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  border: 0.2rem solid black;
  position: absolute;
  top: 1rem;
  left: 11.7rem;
  cursor: pointer;
  transition: ease-in-out .5s;
}

#toggleSound {
  width: 1.8rem;
  height: 1.8rem;
  background-color: rgb(0, 0, 0);
  border-radius: 100%;
  border: 0.2rem solid black;
  position: absolute;
  top: 1rem;
  left: 9.2rem;
  cursor: pointer;
  transition: ease-in-out .5s;
}


#screen {
  background-color: #ffffff;
  border: 4px solid rgb(187, 0, 0);
  padding: 20px;
  margin-bottom: 20px;
  width: 21.50rem;
  height: 1.5rem;
  text-align: center;
  text-align: left;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}


#digitalKeyboard {
  width: 21.58rem;
  height: 21.58rem;
  position: absolute;
  left: 6rem;
  top: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(./assets/fundoKeyboard.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;

  visibility: hidden;
  font-family: "Press Start 2P", system-ui;
}

#keyboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(10, 30px);
  gap: 5px;
  z-index: 5;
}

.key {
  background-color: #333;
  border: 2px solid rgb(187, 0, 0);
  color: rgb(253, 255, 253);
  font-size: 15px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  width: 1.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#key-space {
  width: 10rem;
}

#key-backspace {
  width: 3.5rem;
  height: 2.45rem;
}

#key-ok {
  width: 4.5rem;
  height: 2.45rem;
}

.key:active {
  background-color: rgb(255, 255, 255);
  color: #000;
}

.key.wide {
  grid-column: span 2;
}

#search {
  position: absolute;
  bottom: 14.2rem;
  left: 7.3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  background-color: rgb(250, 18, 18);
  border: 0.3rem solid black;
  cursor: pointer;
}

#search:active {
  transform: translateY(1px);

}

#visor {
  opacity: 0;
  visibility: hidden;
  transition: opacity 8s ease;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 10.7rem;
  height: 5.3rem;
  border-radius: 0.5rem;
  background-color: rgba(2, 125, 2, 0.784);
  bottom: 2.8rem;
  left: 9rem;
  font-family: "Press Start 2P", system-ui;
  font-size: 15px;
  text-align: center;
  display: flex;
}


#visor.visible {
  opacity: 1;
  visibility: visible;
}

#pokemonImage {
  width: 12rem;
  height: 12rem;
  position: absolute;
  top: 6rem;
  left: 6rem;
  
  opacity: 0;
  visibility: hidden;
}

#rightArrow {
  position: absolute;
  bottom: 6.9rem;
  right: 2.8rem;
  width: 2rem;
  height: 1.7rem;
  background-color: #595757;
  cursor: pointer;
}

#leftArrow {
  position: absolute;
  bottom: 6.9rem;
  right: 7.2rem;
  width: 2rem;
  height: 1.7rem;
  background-color: #595757;
  cursor: pointer;
}

#upArrow {
  position: absolute;
  bottom: 9.5rem;
  right: 5.1rem;
  width: 1.95rem;
  height: 1.7rem;
  background-color: transparent;
  cursor: pointer;
}

#downArrow {
  position: absolute;
  bottom: 4rem;
  right: 5.1rem;
  width: 1.98rem;
  height: 1.7rem;
  background-color: transparent;
  cursor: pointer;
}

#leftArrow:active {
  transform: translateY(2px);

}

#rightArrow:active {
  transform: translateY(2px);

}

#stats {
  width: 21.58rem;
  height: 21.58rem;
  position: absolute;
  left: 0rem;
  top: 0rem;
  background-color: rgb(75, 216, 75);
  font-family: "Press Start 2P", system-ui;
  font-size: 1rem;
  line-height: 2rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  text-align: start;
  pointer-events: auto;
  z-index: 1;
  overflow: auto;
  visibility: hidden;
}

#stat-image {


  width: 15rem;
  align-self: center;
  justify-self: start;
  top: 0rem;

}


.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
  border: 0;
}




@media (max-width: 319px) {
  body {
    transform: scale(0.8);
    overflow: hidden;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  body {
    transform: scale(0.75);
    overflow: hidden;
  }
}

@media (min-width: 480px) and (max-width: 639px) {
  body {
    transform: scale(0.85);
    overflow: hidden;
  }
}

@media (min-width: 640px) and (max-width: 799px) {
  body {
    transform: scale(0.9);
    overflow: hidden;
  }
}

@media (min-width: 800px) and (max-width: 959px) {
  body {
    transform: scale(1);
    overflow: hidden;
  }
}

@media (min-width: 960px) and (max-width: 1279px) {
  body {
    transform: scale(1.2);
    overflow: hidden;
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  body {
    transform: scale(0.8);
    overflow: hidden;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  body {
    transform: scale(1);
    overflow: hidden;
  }
}

@media (min-width: 2560px) and (max-width: 3839px) {
  body {
    transform: scale(1.3);
    overflow: hidden;
  }
}

@media (min-width: 3840px) {
  body {
    transform: scale(2);
  }
}